<div>
	<div class="jumbotron">
		<h2>Lista studentow</h2>
	</div>
	<input type="text" ng-model="nowyStudent.imie"> <br>
    <input type="text" ng-model="nowyStudent.rokUr"> <br>

    <button ng-click="dodajStudenta()">Dodaj studenta</button>
    <button ng-click="getAllStudents()">Pobierz studentow</button>

     <ul>
    <li ng-repeat="student in students">
        <a href="#/student/{{student.id}}">{{student.firstName}}</a>
    </li>
     </ul>

</div>